@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #D8D3FF;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  // background-color: #692BFC;
  // outline: 1px solid slategrey;

  border-radius: 50px;

  background: #d8d3ff;
  background: -moz-linear-gradient(180deg, #d8d3ff 0%, #692bfc 45%, #25096c 100%);
  background: -webkit-linear-gradient(180deg, #d8d3ff 0%, #692bfc 45%, #25096c 100%);
  background: linear-gradient(180deg, #d8d3ff 0%, #692bfc 45%, #25096c 100%);
}

@font-face {
  font-family: 'theboldfont';
  src: url("../assets/font/theboldfont.ttf"),
}

// =============== Custom ================ //
.flex-start {
  @apply flex items-center justify-start;
}

.flex-center {
  @apply flex items-center justify-center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// =============== Buttons ================ //
.btn {
  @extend .flex-center;
  @apply gap-3 px-4 py-2;
}

.btn-primary {}


// =============== Section ================ //
.section_container {
  @apply container p-section;

  .section__heading {
    font-family: "theboldfont";
    @apply text-9xl text-transparent font-bold tracking-wider;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(216, 211, 255, 0.145);
  }

  .section__content {
    @apply relative;
  }
}

.glass {
  background: rgba(105, 43, 252, 0.015);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all ease 0.4s;

  &:hover {
    background: rgba(105, 43, 252, 0.035);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.30);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: all ease 0.4s;
  }
}