@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

// ============== Hero section styles =========== //

.hero {
  @apply h-screen w-full overflow-hidden;

  background: #111111;
  background: linear-gradient(150deg, #333333 0%, #111111 50%);
}

.hero__links {

  @apply flex gap-5;

  li {
    a {
      @apply block text-light text-2xl hover:scale-110 hover:translate-x-1 transition duration-150 ease-in-out;

      &:hover svg {
        filter: drop-shadow(0px 0px 5px rgba(106, 43, 252, 1));
      }
    }
  }
}

// ========= scroll down animation ======== //
.scroll-down span {
  width: 15px;
  height: 15px;
  display: block;
  border-right: 2px solid #F3F2FF;
  border-bottom: 2px solid #F3F2FF;
  transform: rotate(45deg);
  margin: -5px;
  animation: scrollDown 3s infinite;
}

.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }

  100% {
    opacity: 0;
  }
}


// ========= Neon Text ======== //
.neon-primary {
  @apply text-primary-extra-light;
  text-shadow: rgba(106, 43, 252, 0.9) 0px 0px 39px;
}

.neon-primary-light {
  @apply text-primary-extra-light/70;
  text-shadow: rgba(106, 43, 252, 0.6) 0px 0px 39px;
}

.neon-secondary-light {
  @apply text-gray;
  text-shadow: rgba(106, 43, 252, 0.6) 0px 0px 39px;
}

// ======== Menu Burger style start ======== //

.menu-burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: #D8D3FF;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.menu-burger-opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.menu-burger-opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.menu-burger-opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

// ======== Menu Burger style end ======== //