@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.font-Josefin {
  font-family: "Josefin Sans", sans-serif;
}

// ============== Navbar styles =========== //
.navbar {
  @apply absolute w-full h-20 z-50;

  background: rgba(17, 17, 17, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar__items {
  @apply container h-full flex justify-end items-center gap-5;

  li>a {
    @apply relative block text-light hover:text-primary-light font-light tracking-wider py-2 transition duration-300;
  }
}

// ============== Hero section styles =========== //

.hero {
  @apply h-screen w-full overflow-hidden;

  background: #111111;
  background: linear-gradient(150deg, #333333 0%, #111111 50%);
}

.hero__links {

  @apply flex gap-5;

  li {
    a {
      @apply block text-light text-2xl hover:scale-110 hover:translate-x-1 transition duration-150 ease-in-out;

      &:hover svg {
        filter: drop-shadow(0px 0px 5px rgba(106, 43, 252, 1));
      }
    }
  }
}

// ========= scroll down animation ======== //
.scroll-down span {
  width: 15px;
  height: 15px;
  display: block;
  border-right: 2px solid #F3F2FF;
  border-bottom: 2px solid #F3F2FF;
  transform: rotate(45deg);
  margin: -5px;
  animation: scrollDown 3s infinite;
}

.scroll-down span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }

  100% {
    opacity: 0;
  }
}


// ========= Neon Text ======== //
.neon-primary {
  @apply text-primary-extra-light;
  text-shadow: rgba(106, 43, 252, 0.9) 0px 0px 39px;
}

.neon-primary-light {
  @apply text-primary-extra-light/70;
  text-shadow: rgba(106, 43, 252, 0.6) 0px 0px 39px;
}

.neon-secondary-light {
  @apply text-gray;
  text-shadow: rgba(106, 43, 252, 0.6) 0px 0px 39px;
}